.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  max-height: 70vh;
  /* overflow: hidden; */
  /* overflow-y: auto; */
  position: relative;
}

.users ul {
  height: 50vh;
  list-style: none;
  padding: 1rem;
  overflow-y: auto;
}

.users > ul::-webkit-scrollbar {
  width: 6px;
  background-color: #aaa;
}

.users > ul::-webkit-scrollbar-thumb {
  background: #000000af;
  border-radius: 4px;
}

.title {
  background: white;
  width: 100%;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  font-family: System-ui;
  font-weight: 400;
  padding: 1rem 0;
  color: #1999D4;
  /* padding-bottom: 2rem; */
}

@media (max-width: 980px) {
  .users {
    max-height: 85vh;
    width: 100%;
  }

  .users ul {
    height: 50vh;
  }
}
