.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 2rem;
  padding-top: 5rem;
  margin: 0 auto;
}

.add-user-section {
  width: 100%;
  flex: 1;
}

.users-list-section {
  width: 100%;
  flex: 1;
}

@media (max-width: 980px) {
  .container {
    width: 100%;

    flex-direction: column;
  }

  .add-user-section {
    position: absolute;
    z-index: 100;
    top: 6rem;
    left: 0;
    /* display: none; */
  }
}

@media (width >= 1120px) {
  .container {
    width: 90%;
  }
}
