:root {
  --dark: #181818;
  --dark-blue: #0b061f;
}
.button {
  min-width: 12rem;
  font: inherit;
  border: 2px solid var(--dark);
  background-color: var(--dark);
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out;
}

.button:hover,
.button:active {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  border-radius: 5px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 8px;
}

.button:focus {
  outline: none;
}
